# 2018년 3월 28일 점프투파이썬 2장
## 테스트
 - 숫자형
     1. 기능1
     2. 기능2 
 - 문자형 
 - 리스트

In [4]:
print("3번째 수업")

3번째 수업

In [5]:
123

123

In [26]:
1

1

In [7]:
7 / 4

1.75

In [8]:
7//4

1

In [9]:
7%4

3

In [10]:
1 - 0.9

0.09999999999999998

### lab 1
#### 수익 계산

In [24]:
revenue = 98456
cost = 45000
profit = revenue - cost 
print(profit)

53456

## 2절 문자열

In [11]:
boy = "I am a boy"
boy

'I am a boy'

In [14]:
girl = 'I am a girl'
girl

'I am a girl'

In [15]:
"I'm a girl"

"I'm a girl"

In [19]:
friend = '''
I am a boy
I am a girl 
'''
friend

'\nI am a boy\nI am a girl \n'

In [21]:
boy +' '+ girl

'I am a boy I am a girl'

In [22]:
boy * 3

'I am a boyI am a boyI am a boy'

In [30]:
# 문자열 인덱싱
a = "Life is too short, you need python"
a[0] + a[10] + a[30]

'Lot'

In [32]:
# 문자열 슬라이싱 a <= : < b
a[12:17]

'short'

### lab2 
#### 문자열 다루기

In [25]:
a = 'I love Python!'
b = "You hate Python"

In [40]:
a = '20180328Sunny'
year = a[0:4]
month = a[4:6]
day = a[6:8]
weather = a[8:]
print(year, month, day, weather)

2018 03 28 Sunny

In [41]:
"year년 month월 day일 날씨는 weather 입니다."

'year년 month월 day일 날씨는 weather 입니다.'

In [43]:
"{year}년 {month}월 {day}일 날씨는 {weather}입니다.".format(year=year,month=month,day=day,weather=weather)

'2018년 03월 28일 날씨는 Sunny입니다.'

## 문자열 내장함수

In [52]:
a = 'hobby'
a.count("b")

2

In [58]:
# 위치 알려주기
b = 'zero'
b.find('o')

3

In [60]:
# 위치 알려주기2 
b.index('e')

1

In [61]:
# 문자열 삽입하기 
a = ',' 
a.join("금은동")

'금,은,동'

In [63]:
# 대문자로 변환
a = "I love Python"
a.upper()

'I LOVE PYTHON'

In [64]:
a.lower()

'i love python'

In [66]:
# 왼쪽 공백 지우기
a = ' hi '
a.lstrip()

'hi '

In [68]:
# 오른쪽 공백 지우기
a.rstrip()

' hi'

In [70]:
# 양쪽 끝쪽에 있는 여백만 지워준다 
a.strip()

'hi'

In [72]:
# 문자열 나누기 
a = "Life is too short"
a.split()

['Life', 'is', 'too', 'short']

### Lab 2 이어서

In [76]:
a = "I love Python"
b = "You hate Python"
print(a.find("o"))
print(b.index("o"))
print(a.count("o"))

3
1
2

In [78]:
a.upper()

'I LOVE PYTHON'

In [79]:
b.lower()

'you hate python'

In [86]:
a_6 = a[0:7]
print(a_6)

I love

In [88]:
a_6.rstrip()

'I love'

### Lab 3
#### 문자열 포매팅

In [48]:
pi = 3.141592
sq_root = 1.41429
'pi is {0}, and square root of 2 is {1}'.format(pi,sq_root)

'pi is 3.141592, and square root of 2 is 1.41429'

## 3절 리스트